<!DOCTYPE html>
<html>
<head>
  <title>TheresABoard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Logout", logout_path, method: :delete %>
  </nav>
You are a mentor.
<%= yield %>

</body>
</html>
