<% if @user.type == "Mentor" %>
<div id="stats">
  <div class="stat">
    <h3>Karma: </h3>
    <%= @user.karma %>
  </div>
  <div class="stat">
    <h3>Average Rating: </h3>
    <%= @user.average_rating %>
  </div>
  <div class="stat">
    <h3>Total Appointments: </h3>
    <%= @user.past_appointments.count %>
  </div>
    <div class="stat">
    <h3>Member Since: </h3>
    <%= @user.created_at %>
  </div>
</div>
<% end %>

<% if current_user.id == @user.id %>
  <div id="center-show-name">
  <h2>Welcome, <%=@user.full_name%>! </h2>
  </div>
<% else %>
  <div class="center-show">
  <h2>Welcome to <%=@user.full_name%>'s Profile!</h2>
  <br><br>
  </div>
<% end %>

  <% if @user.type == "Student" && current_user != @user %>
    <p><%=@user.full_name%> is a student!</p>
  <% end %>

  <br><br>

  <% if current_user.type == "Student" && @user.type == "Mentor" %>
    <div class="appt-block">
    <h2>Future Appointments</h2>
      <ul class="center-list">
        <%@user.appointments.each do |appt| %>
        <li><h1><%=link_to appt.start_time = format_time_for_visibility(appt.start_time), appointment_path(appt) %></h1>
        <p>With <%=appt.mentor.full_name%>: Phase <%=appt.phase%></p></li>
      <%end%>
      </ul>
  </div>
  <% end %>

  <% if current_user.id == @user.id %>
  <div class="appt-block">
    <h2>My Future Appointments</h2>
      <ul class="center-list">
        <%@user.appointments.each do |appt| %>
        <li><h1><%=link_to appt.start_time = format_time_for_visibility(appt.start_time), appointment_path(appt) %></h1>
        <p>With <%=appt.mentor.full_name%>: Phase <%=appt.phase%></p></li>
      <%end%>
      </ul>
  </div>

  <br> <br>


  <div class="appt-block">
    <h2>My Past Appointments</h2>
      <ul class="center-list"><%@user.appointments.each do |appt| %>
        <% if appt.past?%>
          <%= "#{appt.start_time = format_time_for_visibility(appt.start_time)} with #{appt.mentor.full_name}" %>
          <% if @user.has_not_reviewed(appt) %>
            <li><%= link_to "Review this session", new_appointment_review_path(appt) %></li>
            <li>My Notes: <%=appt.notes%></li>
          <% end %>
        <li>Review for me: </li>
        <%if review = current_user.received_reviews.find{|review| review.appointment_id == appt.id } %>
          <p><%= review.body %></p>
          <% else %>
          <p> No reviews yet! </p>
          <%end%>
        <%end%>
      <%end%>
    </ul>
  </div>
  <% end %>

</div>
