<div class="center-show">
  <h2>Welcome, <%=@user.full_name%>! </h2>

  <% if @user.type == "Mentor" %>
    <%= link_to "Create a New Tutoring Session", new_appointment_path %>
  <% end %>

  <% if @user.type == "Student" %>
    <%= link_to "Find a Tutoring Session", appointments_path %>
  <% end %>

  <div class="appt-block">
    <h2>My Future Appointments</h2>
      <ul class="center-list">
        <%@user.appointments.each do |appt| %>
        <li><h1><%=link_to appt.start_time = format_time_for_visibility(appt.start_time), appointment_path(appt) %></h1>
        <p>With <%=appt.mentor.full_name%>: Phase <%=appt.phase%></p></li>
      <%end%>
      </ul>
  </div>

  <br> <br>

  <div class="appt-block">
    <h2>My Past Appointments</h2>
      <ul class="center-list"><%@user.appointments.each do |appt| %>
        <% if appt.past? %>
          <li><%= link_to "Review this session", new_appointment_review_path(appt) %></li>
          <li>My Notes: <%=appt.notes%></li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>
