<li>
  <h1 class="appt-listing"><%=link_to appointment.start_time = format_time_for_visibility(appointment.start_time), appointment_path(appointment) %></h1>
  <p>With <%=appointment.mentor.full_name%>: Phase <%=appointment.phase%> <%= appointment.list_topics %>
    <% if appointment.booked? %>
      | Booked by <%= appointment.student.full_name %>
    <% elsif @user.can_book(appointment) %>
      | <%= link_to "book this appointment", appointment_path(appointment), method: :put %>
    <% elsif @user.type = "Student" %>
      | *conflicts with one of your bookings*
    <% end %>
  </p>
</li>
