
<div id="sort-tabs">
  <ul>
    <li>Show by mentor phase:</li>
    <% 5.times do |i| %>
    <li><%=link_to i, appointments_path(phase: i)%></li>
    <% end %>
    <li><%=link_to "view all", appointments_path(phase: nil)%></li>
  </ul>
</div>


<div id="next_appointment">
  <h1>Your next booked appointment: </h1>
  <% if @next_appointment %>
    <%= render @next_appointment %>
  <% else %>
    <p>You don't have any upcoming appointments :(<p>
  <% end %>
</div>

<div class="center-show">

<h1>Available Appointments For
  <% if @phase %>
    <%= "Phase #{@phase}"%>
  <% else %>
  All Phases
  <% end %>
</h1>
  <ol class="center-list">
  <%@appointments_by_phase.each do |appt|%>
    <%= render appt %>
  <% end %>
  </ol>
</div>
