
<div id="right-sidebar">
  <ul>
    <li>Show by mentor phase:</li>
    <% 5.times do |i| %>
    <li><%=link_to i, appointments_path(phase: i)%></li>
    <% end %>
  </ul>
</div>


<div id="next_appointment">
  <h1>Your next booked appointment: </h1>
  <% if @next_appointment %>
    <h1 class="appt-listing"><%=link_to @next_appointment.start_time = format_time_for_visibility(@next_appointment.start_time), appointment_path(@next_appointment) %></h1>
  <% else %>
    <p>You don't have any upcoming appointments :(<p>
  <% end %>

<div id="appointment_roll">
  <ol>
    <%@appointments_by_phase.each do |appt|%>
        <li><h1><%=link_to appt.start_time = format_time_for_visibility(appt.start_time), appointment_path(appt) %></h1>
        <p>With <%=appt.mentor.full_name%>: Phase <%=appt.phase%></p></li>
    <% end %>
  </ol>

</div>

<div class="center-show">

<h1>All Available Appointments</h1>
  <ol class="center-list">
  <%@appointments.each do |appt|%>

      <li>
        <h1 class="appt-listing"><%=link_to appt.start_time = format_time_for_visibility(appt.start_time), appointment_path(appt) %></h1>
        <p>With <%=appt.mentor.full_name%>: Phase <%=appt.phase%></p>
      </li>
  <% end %>
  </ol>
</div>
