
<!-- <div class="form-group"> -->
  <h1 id="sign-up-header">New Tutoring Session</h1>

  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <%= simple_form_for @appointment do |f| %>
    <input type='date' name= 'date' />
    <input type='time' name= 'time' />


    <%= f.input :length, collection: ["30", "60"], input_html: {multiple: false} %>

    <% if @topics && @topics.length > 0 %>
    <strong>Topics:</strong>
      <% @topics.each do |topic| %>
      <%= check_box_tag "appointment[topics][]", topic.id %>
      <%= topic.name %>
      <% end %>
    <% end %>

    <%= f.input :notes, label: "Notes", input_html: {class: "form-control"} %>
    <%= f.input :phase, collection: ["0", "1", "2", "3", "4+"], input_html: {multiple: false}  %>



    <%= f.button :submit, {:class => "btn btn-warning"}%>
  <% end %>
<!-- </div> -->
