Appointment Show Page
<h1><%=@appointment.start_time%></h1>

<%= link_to "Review this session", new_appointment_review_path(@appointment) %>



  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<%= form_for @appointment do |f| %>
<%= f.button :submit %>
<% end %>


