
<h1><%=@appointment.start_time = format_time_for_visibility(@appointment.start_time)%></h1>

<ul>
<% @appointment.topics.each do |topic| %>
  <li><%= topic.name %></li>
<% end %>
</ul>

<% if @appointment.past? %>
  <%= link_to "Review this session", new_appointment_review_path(@appointment) %>
<% end %>

  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
<br>
<% if @appointment.booked? %>
  Booked by <%= @appointment.student.full_name %>
<% elsif current_user.type == "Student" %>
  <%= link_to "book!", appointment_path(@appointment), method: :put %>
<% end %>
